<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <%= link_to image_tag("engelland.jpg", :size => "260x180", :crop => :fill) %>
                <div class="carousel-caption">
                    <h2>Technique</h2>
                </div>
            </div>
            <div class="item">
                <%= link_to image_tag("court.jpg", :size => "260x180", :crop => :fill) %>
                <div class="carousel-caption">
                    <h2>Strategy</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    MBA Hoops
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Strategy</h4>
                    </div>
                    <div class="panel-body">
                        <p>X's and O's are not only a major part of the game, but knowing when and where to implement offensive and defensive gameplans can be key to maximizing a team's strength.</p>
                        <a href="strategy.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Technique</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="technique.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Leadership</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="leadership.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Featured Interviews</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <%= link_to image_tag("engelland.jpg", :size => "180x160") %>
                <div class="caption">
                    <h1>*****</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <%= link_to image_tag("hill.jpg", :size => "180x160") %>
                <div class="caption">
                    <h1>*****</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <%= link_to image_tag("mchale.jpg", :size => "180x160") %>
                <div class="caption">
                    <h1>*****</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <%= link_to image_tag("turner.jpg", :size => "180x160") %>
                <div class="caption">
                    <h1>*****</h1>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.2.0</strong>
                    </li>
                    <li>jQuery v1.11.0</li>
                    <li>Font Awesome v4.1.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
<div class="footer">
        <div class="ftrWrap">
            <div class="ftrComn">
                <h4>follow us on</h4>
                <div class="menu-footer-social-container"><ul id="menu-footer-social" class="ftrSclIcon"><li id="menu-item-30" class="sIcon1 menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a href="#">Facebook.com</a></li>
<li id="menu-item-31" class="sIcon2 menu-item menu-item-type-custom menu-item-object-custom menu-item-31"><a href="#">Twitter.com</a></li>
<li id="menu-item-32" class="sIcon3 menu-item menu-item-type-custom menu-item-object-custom menu-item-32"><a href="#">Blog.com</a></li>
<li id="menu-item-33" class="sIcon4 menu-item menu-item-type-custom menu-item-object-custom menu-item-33"><a href="#">Youtube.com</a></li>
</ul></div>         </div><!-- End of ftrComn -->
            <div class="ftrComn" style="width: 284px;">
                <h4>navigation</h4>
                <div class="menu-footer-main-container"><ul id="menu-footer-main" class=""><li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="#">Home</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="#">The Why</a></li>
<li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="#">Coaches Corner</a></li>
<li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="#">Contact</a></li>
<li id="menu-item-1603" class="simplemodal-login menu-item menu-item-type-custom menu-item-object-custom menu-item-1603"><a href="http://www.meandmygolf.com/wp-login.php">Login</a></li>
<li id="menu-item-1604" class="simplemodal-register menu-item menu-item-type-custom menu-item-object-custom menu-item-1604"><a href="http://www.meandmygolf.com/members">Sign Up</a></li>
</ul></div>         </div><!-- End of ftrComn -->
                        <div class="ftrComn" style="width: 284px;">

</ul></div>             <span>© 2013 inc. all rights reserved</span>
            </div><!-- End of ftrWrap -->
        </div><!-- End of ftrLwr -->
    </div>

        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



</body>

</html>
